:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-title-color: #212121;
  --acent-color: #2196f3;
  --secondary-acent-color: #188ce8;
  --secondary-bg-color: #f5f4fa;
  --border-color-one: #ececec;
  --border-color-two: #eeeeee;
  --icon-color: #afb1b8;
}
body {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a,
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
  border-bottom: 1px solid var(--border-color-one);
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-left: 93px;
}
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo span {
  color: var(--acent-color);
}
.list {
  display: flex;
}
.list li + li {
  margin-left: 50px;
}
.list-communication {
  display: flex;
  margin-left: auto;
}
.list-communication .item + .item {
  margin-left: 50px;
}
.link {
  display: inline-flex;
  align-items: center;

  color: var(--primary-title-color);
  line-height: 1.14;
  font-weight: 500;
  padding: 32px 0;
}
.link:hover,
.link:focus {
  color: var(--acent-color);
}
.icon-link {
  margin-right: 10px;
  fill: currentColor;
}
.active_page {
  color: var(--acent-color);
}
.link-contact {
  color: var(--primary-text-color);
}
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero-title {
  margin: 0 auto 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-acent-color);
}
.advantages .container-section {
  padding-bottom: 0;
}
.advantages-list {
  display: flex;
}
.advantages-list .item {
  width: 270px;
}
.icon-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
}
.advantages-list .item + .item {
  margin-left: 30px;
}
.advantages-list .title {
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-list .subtitle {
  line-height: 1.71;
}

.team {
  background: var(--secondary-bg-color);
}
.about-us .title,
.team .title,
.clients .title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.about-us {
  padding-bottom: 94px;
}
.about-us .list {
  display: flex;
  margin: 0;
}
.about-us .item + .item {
  margin-left: 30px;
  text-align: center;
}
.team .team-list {
  display: flex;
}
.team-list .item {
  min-height: 368px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: var(--secondary-text-color);
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-info {
  padding: 30px 0;
}
.team-list .team-list-title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
}
.team-list-icon {
  display: inline-flex;
  gap: 10px;
}

.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background: var(--secondary-text-color);
}
.team-link:hover,
.team-link:focus {
  color: var(--secondary-text-color);
  background: var(--acent-color);
}
.team-link-icon {
  fill: currentColor;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  /* padding: 16px 32px; */
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--acent-color);
  color: var(--acent-color);
}
.clients-icon {
  fill: currentColor;
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-btn .item + .item {
  margin-left: 8px;
}
.btn {
  padding: 6px 25px;
  color: var(--primary-title-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.btn:active,
.btn:hover,
.btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section {
  padding: 94px 0;
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 370px;
  gap: 30px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-list .item:nth-child(3n + 1) {
  margin-left: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list-info {
  padding: 20px 24px;
  border-left: 1px solid var(----border-color-two);
  border-bottom: 1px solid var(----border-color-two);
  border-right: 1px solid var(----border-color-two);
}
.portfolio-list .title {
  margin-bottom: 4px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .subtitle {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-white,
.link-footer.footer-white {
  color: var(--secondary-text-color);
}

.logo.footer-white {
  display: inline-block;
  margin-bottom: 20px;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--secondary-text-color);
}
.footer-flex {
  display: flex;
  flex-direction: row;
}
.footer-flex .footer-item + .footer-item {
  margin-left: 70px;
}

.footer-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer-list-icon {
  display: flex;
}
.footer-list-icon li + li {
  margin-left: 10px;
}
.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  background: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--secondary-text-color);
  background: var(--acent-color);
}
.footer-link-icon {
  fill: currentColor;
}
